@model IEnumerable<Tracking.BL.DTOs.AuditEventsTmpDTO>

@{
    ViewBag.Title = "Compare";
}

<h2>Classification</h2>
<hr />

<p class="btn-success">Object Initial</p>
<p class="btn-danger">Object Deleted</p>
<p class="btn-warning">Object Modify</p>
<hr />

<h2>Compare with current</h2>
<hr />

<input type="text" id="ObjectTypeName" class="form-control" onkeyup="filterTable()" placeholder="Search for object type..">
<table class="table table-responsive" id="Grid">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SchemaName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ObjectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ObjectType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rename)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Flag)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReleaseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="btn-@item.Color">
            <td>
                @Html.DisplayFor(modelItem => item.SchemaName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ObjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ObjectType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rename)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Flag)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                @if (item.ObjectType.Equals("USER_TABLE"))
                {
                    @Html.ActionLink("Select", "ShowObjectChanges", new { id = item.Id }, new { @class = "btn btn-primary" })
                }
            </td>
        </tr>
    }

</table>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>